
    <!-- Breadcrumb Navigation Start -->
    <nav id="breadcrumb">
      <span><a href="./index.html">HOME</a></span>
      <span class="line">|</span>
      <span><a href="#" class="text-dark">WHITE SHIRT</a></span>
    </nav>
    <!-- Breadcrumb Navigation End -->

    <!-- Main Start -->
    <main id="main">
      <!-- Detail Product Section Start -->
      <section id="detail-product">
        <div class="row g-5">
          <div class="col-lg-6 col-12">
            <div class="image-gallery">
              <div class="zoom-img">
                <div class="zoomist-container">
                  <!-- zoomist-wrapper is required -->
                  <div class="zoomist-wrapper">
                    <!-- zoomist-image is required -->
                    <div class="zoomist-image">
                      <img
                        src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-1.jpg"
                        alt="Product"
                        id="zoom-img" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="gallery-items">
                <div class="gallery-item">
                  <img
                    src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-11-150x150.jpg"
                    alt="Product"
                    class="gallery-img" />
                </div>
                <div class="gallery-item">
                  <img
                    src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-10-150x150.jpg"
                    alt="Product"
                    class="gallery-img" />
                </div>
                <div class="gallery-item">
                  <img
                    src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-9-150x150.jpg"
                    alt="Product"
                    class="gallery-img" />
                </div>
                <div class="gallery-item">
                  <img
                    src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-8-150x150.jpg"
                    alt="Product"
                    class="gallery-img" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="product-content">
              <div class="product-heading">
                <h1>WHITE SHIRT</h1>
                <span>$45</span>
                <p>
                  Alienum phaedrum torquatos nec eu, vis detraxit periculis ex,
                  nihil expete mei. Mei an Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Ut nec vulputate massa. Maecenas
                  dui augue, dictum dictum varius nec, suscipit eu dolor. Duis
                  tellus.
                </p>
              </div>
              <div class="product-actions">
                <div class="counter">
                  <button class="decrease-product">-</button>
                  <span class="product-count">0</span>
                  <button class="increase-product">+</button>
                </div>
                <a href="#" class="custom-button">
                  ADD TO CART
                  <span class="basket-product">
                    <i class="fa-solid fa-basket-shopping"></i>
                  </span>
                </a>
                <a href="#" class="wishlist-btn">
                  <i class="fa-regular fa-heart"></i>
                </a>
              </div>
              <div class="product-info">
                <div class="share">
                  <a href="#" class="fs-5 py-5 d-inline-block">
                    <i class="fa-solid fa-square-share-nodes"></i>
                  </a>
                </div>
                <div class="product-stats">
                  <div class="sku">
                    <span>SKU:</span>
                    <a href="#">232-1-2</a>
                  </div>
                  <div class="category">
                    <span>CATEGORY:</span>
                    <a href="#">FITNESS</a>
                  </div>
                  <div class="tag">
                    <span>TAG:</span>
                    <a href="#">SPORT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 pt-5">
            <div class="product-description">
              <div class="product-description-header">
                <ul class="tab-items" id="tabItems">
                  <li class="tab-item">
                    <a href="#" class="tab-link" data-tab="description">
                      DESCRIPTION
                    </a>
                  </li>
                  <li class="tab-item">
                    <a href="#" class="tab-link" data-tab="additional-info">
                      ADDITIONAL INFORMATION
                    </a>
                  </li>  
                   <li class="tab-item">
                    <a href="#" class="tab-link" data-tab="additional-info">
                      Reviews (0)
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tabs-content pt-4" id="tabContent">
                <div class="tab" data-tab="description">
                  <p class="fs-5">
                    Alienum phaedrum torquatos nec eu, vis detraxit periculis
                    ex, nihil expete mei. Mei an Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Ut nec vulputate massa in et.
                    Maecenas dui augue, dictum dictum varius nec, suscipit eu
                    dolor. Duis tellus ligula, porta et mauris sit amet,
                    condimentum sagittis erat. Duis eget nisi velit nunc.
                    Curabitur dignissim justo tortor. Consequat an. Eius lorem
                    tincidunt vix at, vel pertinax sensibus id, error epicurei
                    mea. Donec ut velit mi vitae
                  </p>
                </div>
                <div class="tab d-none" data-tab="additional-info">
                  <div class="product-stats">
                    <div class="sku">
                      <span>WEIGHT:</span>
                      <a href="#">0.4 kg</a>
                    </div>
                    <div class="category">
                      <span>DIMENSIONS:</span>
                      <a href="#">60 × 40 × 120 cm</a>
                    </div>
                  </div>
                </div>
                <!-- <div class="tab d-none" data-tab="reviews">
                  <div class="product-stats">
                    <div class="sku">
                      <span>dcsddw:</span>
                      <a href="#">0.4 kg</a>
                    </div>
                    <div class="category">
                      <span>DIMENSIONS:</span>
                      <a href="#">60 × 40 × 120 cm</a>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Detail Product Section End -->

      <!-- Related Products Section Start -->
      <section id="related-products">
        <div class="title">
          <h2>RELATED PRODUCTS</h2>
        </div>
        <div class="featured-products-container">
          <div class="row justify-content-center">


          </div>
        </div>
      </section>
      <!-- Related Products Section End -->
    </main>
    <!-- Main End -->