


@{
    Layout = null; 
    ViewData["Title"] = "Check Your Email";
}

<div class="mt-5" style="text-align: center; margin-top: 200px !important; margin-bottom: 100px !important; color: #000000;">
    <h2 class="mt-5" style="color: #000000;">Check Your Email</h2>
    <p>Thank you for registering with Dunker!</p>
    <p>An email has been sent to <strong><a target="_blank" href="https://mail.google.com/" style="color: #000000;">Mail</a></strong>. Please check your inbox and follow the instructions to complete your registration.</p>
    <p>If you do not see the email, please check your spam folder.</p>
</div>
