@using DunkerFinal.ViewModels.Blog
 
@model BlogUpdateVM


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Blog</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                 <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                    <span  class="text-danger mt-2" asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                    <span  class="text-danger mt-2" asp-validation-for="Description"></span>
                </div>
                <div class="mt-3 form-group">
                    <label asp-for="Photo">Image</label>
                    <input asp-for="Photo" class="form-control">
                    <span class="text-danger mt-2" asp-validation-for="Photo"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <a class="btn btn-light" asp-area="Admin" asp-controller="Blog" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>