@using Service.ViewModels.Banner

@model BannerUpdateVM
  

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
    <h3><img style="width:200px;height:auto"  src="~/assets/img/@Model.Image" /></h3>
    <h3> Title: @Model.Title </h3>
    <h3> Description: @Model.Description </h3>
    
    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="Banner" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Banner" asp-route-id="@Model.Id" asp-action="Update">Update</a>
        <a class="btn btn-danger" asp-area="Admin" asp-controller="Banner" asp-route-id="@Model.Id" asp-action="Delete">Delete</a>
    </div>
</div>
</div>