@using Domain.Entities
@using Service.ViewModels.Brand
@using Service.ViewModels.Category
@using Service.ViewModels.Product
@using Service.ViewModels.Tag

@model ProductCreateVM


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Product</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                    <span class="text-danger mt-2" asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                    <span class="text-danger mt-2" asp-validation-for="Description"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Rating"></label>
                    <input asp-for="Rating" class="form-control" placeholder="Rating">
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="SKU"></label>
                    <input asp-for="SKU" class="form-control" placeholder="SKU">
                    <span asp-validation-for="SKU" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Weight"></label>
                    <input asp-for="Weight" class="form-control" placeholder="Weight">
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Quantity"></label>
                    <input asp-for="Quantity" class="form-control" placeholder="Quantity">
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>




                <div class="form-group">
                    <span>Category</span>
                    <select asp-for="CategoryId" asp-items="@ViewBag.Categories">
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                </div>



                <div class="form-group">
                    <span>Brand</span>

                    <select asp-for="BrandId" asp-items="@ViewBag.Brands">
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>

                </div>


                <div class="form-group">
                    <p>Color</p>
                    
                    <select asp-for="ColorIds" asp-items="@ViewBag.Colors">
                    </select>
                    <span asp-validation-for="ColorIds" class="text-danger"></span>

                </div>

                
                <div class="form-group">
                    <p>Tag</p>
                    
                    <select asp-for="TagIds" asp-items="@ViewBag.Tags">
                    </select>
                    <span asp-validation-for="TagIds" class="text-danger"></span>

                </div>

                

                <div class="form-group">
                    <label asp-for="Images"></label>
                    <input asp-for="Images" class="form-control" placeholder="Images">
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>



                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <a class="btn btn-light" asp-area="Admin" asp-controller="Product" asp-action="Index">Back</a>

            </form>
        </div>
    </div>
</div>