﻿@using System.Security.Claims


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fruitables Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/css/vendor.bundle.base.css">
   
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.ico" />
</head>
<body>
    <style>
        .btn-danger {
            background-color:#f6214c !important;
        }
        .btn-danger:hover {
            background-color:#ff003391 !important;
        }
    </style>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo"  asp-action="Index" asp-controller="Home"><img src="~/assets/img/Dunker-logo-dark.png" alt="logo" /></a>
            <a class="navbar-brand brand-logo-mini" asp-action="Index" asp-controller="Home"><img src="~/assets/img/cropped-favicon-32x32.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="search-field d-none d-md-block">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="~/assets/img/cropped-favicon-32x32.png" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">

                                @if (User.IsInRole("SuperAdmin"))
                                {
                                    <span class="text-secondary text-small">
                                        SuperAdmin
                                    </span>
                                }
                                else
                                {
                                    <span class="text-secondary text-small">
                                        Admin
                                    </span>
                                }
                            </p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="mdi mdi-cached me-2 text-success"></i> Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account" asp-area="">
                            <i class="mdi mdi-logout me-2 text-primary"></i> Log Out
                        </a>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle"  asp-action="Index"  asp-controller="Contact" asp-area="Admin">
                        <i class="mdi mdi-email-outline"></i>
                        <span class="count-symbol bg-warning"></span>
                    </a> 
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="count-symbol bg-danger"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <h6 class="p-3 mb-0">Notifications</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="mdi mdi-calendar"></i>
                                </div>
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                                <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-warning">
                                    <i class="mdi mdi-settings"></i>
                                </div>
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                                <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-info">
                                    <i class="mdi mdi-link-variant"></i>
                                </div>
                            </div>
                            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                                <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <h6 class="p-3 mb-0 text-center">See all notifications</h6>
                    </div>
                </li>
                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
                <li class="nav-item nav-settings d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-format-line-spacing"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="~/assets/img/cropped-favicon-32x32.png" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            <span class="font-weight-bold mb-2">
                                @User.Identity.Name.ToUpper()
                            </span>

                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <span class="text-secondary text-small">
                                    SuperAdmin
                                </span>
                            }
                            else
                            {
                                <span class="text-secondary text-small">
                                    Admin
                                </span>
                            }


                        </div>
                        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">
                        <span class="menu-title">Product</span>
                        <i class="mdi mdi mdi-tshirt-crew menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                        <span class="menu-title">Category</span>
                        <i class="mdi mdi-view-grid menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Slider" asp-action="Index">
                        <span class="menu-title">Slider</span>
                        <i class="mdi mdi-animation menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Tag" asp-action="Index">
                        <span class="menu-title">Tag</span>
                        <i class="mdi mdi mdi-tag menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Color" asp-action="Index">
                        <span class="menu-title">Color</span>
                        <i class="mdi mdi mdi mdi-invert-colors menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Blog" asp-action="Index">
                        <span class="menu-title">Blog</span>
                        <i class="mdi mdi  mdi-blogger menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Setting" asp-action="Index">
                        <span class="menu-title">Setting</span>
                        <i class="mdi mdi-codepen menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="InfoBanner" asp-action="Index">
                        <span class="menu-title">Info's</span>
                        <i class="mdi mdi mdi mdi-information menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Elementor" asp-action="Index">
                        <span class="menu-title">Elementor</span>
                        <i class="mdi mdi mdi-checkbox-blank-circle menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Brand" asp-action="Index">
                        <span class="menu-title">Brand</span>
                        <i class="mdi mdi mdi mdi-star-circle menu-icon"></i>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Baner" asp-action="Index">
                        <span class="menu-title">Banner</span>
                        <i class="mdi mdi mdi-tablet menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index"  asp-controller="Contact" asp-area="Admin">
                        <span class="menu-title">Contact</span>
                        <i class="mdi mdi-email-outline menu-icon"></i>
                    </a>
                </li>
                

                <li class="nav-item">
                    <a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Index">
                        <span class="menu-title">Home</span>
                        <i class="mdi mdi-step-backward menu-icon"></i>
                    </a>
                </li>

            </ul>
        </nav>

        @RenderBody()
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.4/sweetalert2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/admin/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admin/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admin/assets/js/off-canvas.js"></script>
    <script src="~/admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/admin/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/admin/assets/js/dashboard.js"></script>
    <script src="~/admin/assets/js/todolist.js"></script>
    <script src="~/admin/assets/js/main.js"></script>
    <!-- End custom js for this page -->
</body>
</html>