<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dunker – Fashion and Clothing Shop</title>
    <link
      rel="shortcut icon"
      href="~/assets/img/cropped-favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="~/assets/img/cropped-favicon-32x32.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/9.3.0/mmenu.min.css"
      integrity="sha512-nNatP1G6CEh43irXY/GN4cDcLRX/R0jAYAV/ulFZcotSXcuIQE5Do4TuDOYNAD2SCIpmIbaYSllyjTysSCkpEw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- Bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css" />
  </head>

  <body>
    <!-- Header Section Start -->
    <header id="header">
      <div class="discount-message d-lg-block d-none">
        <a href="#" class="message">
          10% DISCOUNT FOR REGISTERED USERS & FREE SHIPPING FOR ORDERS OVER $70
          PLUS FREE RETURNS
        </a>
        <button class="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <!-- Navbar Start -->
      <nav id="nav" class="d-lg-block d-none">
        <div class="navbar-container">
          <div class="leftside-nav">
            <div class="logo">
              <img
                src=" https://dunker.qodeinteractive.com/wp-content/uploads/2023/02/Dunker-logo-dark.png"
                alt="Dark Dunker"
              />
            </div>
          </div>
          <div class="middle-nav">
            <ul class="navbar-items">
              <li class="navbar-item active">
                <a href="#" class="navbar-link">HOME</a>
              </li>
              <li class="navbar-item">
                <a href="#" class="navbar-link">SHOP</a>
                <div class="multiple">
                  <ul class="multiple-subMenu text-uppercase">
                    <li class="multiple-subMenu-items">
                      <span href="#" class="multiple-subMenu-heading">
                        Product Types
                      </span>
                      <ul class="multiple-subMenu-item text-uppercase">
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">STANDARD</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">VARIABLE</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">GROUPED</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">NEW PRODUCT</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">SALE PRODUCT</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">SOLD PRODUCT</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">FIXED INFO</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">VIRTUAL</a>
                        </li>
                      </ul>
                    </li>
                    <li class="multiple-subMenu-items">
                      <span href="#" class="multiple-subMenu-heading">
                        Contact Us
                      </span>
                      <ul class="multiple-subMenu-item text-uppercase">
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">Contact Us</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">Our Brands</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">
                            Terms & Conditions
                          </a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">About Us</a>
                        </li>
                      </ul>
                    </li>
                    <li class="multiple-subMenu-items">
                      <span href="#" class="multiple-subMenu-heading">
                        Contact Us
                      </span>
                      <ul class="multiple-subMenu-item text-uppercase">
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">Contact Us</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">Our Brands</a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">
                            Terms & Conditions
                          </a>
                        </li>
                        <li class="multiple-item">
                          <a href="#" class="multiple-link">About Us</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="navbar-item">
                <a href="#" class="navbar-link">OUR TEAM</a>
                <ul class="subMenu text-uppercase">
                  <li class="subMenu-item">
                    <a href="#" class="subMenu-link">Contact Us</a>
                  </li>
                  <li class="subMenu-item">
                    <a href="#" class="subMenu-link">Our Brands</a>
                  </li>
                  <li class="subMenu-item">
                    <a href="#" class="subMenu-link">Terms & Conditions</a>
                  </li>
                  <li class="subMenu-item">
                    <a href="#" class="subMenu-link">About Us</a>
                  </li>
                </ul>
              </li>
              <li class="navbar-item">
                <a href="#" class="navbar-link">BLOG</a>
              </li>
              <li class="navbar-item">
                <a href="#" class="navbar-link">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="rightside-nav">
            <div class="action-icons">
              <span class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
              <span class="account"><i class="fa-regular fa-user"></i></span>
              <a href="./wishlist.html">
                <span class="wish"><i class="fa-regular fa-heart"></i></span>
              </a>
            </div>
            <div class="basket basket-btn">
              <span
                class="basket-icon d-flex justify-content-center align-items-center gap-1"
              >
                <i class="fa-solid fa-basket-shopping"></i>
                <span class="count-basket">0</span>
              </span>
              <div class="basket-container"></div>
            </div>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Mobile Nav Start-->
      <div class="mobile-header d-block d-lg-none">
        <div class="mobile-header-top">
          <div class="mobile-nav-container">
            <div class="mobile-nav-left">
              <a href="./index.html">
                <div class="dark-logo">
                  <img
                    src="https://dunker.qodeinteractive.com/wp-content/uploads/2023/01/Mobile-logo.png"
                    alt="DunkerDark"
                  />
                </div>
              </a>
            </div>
            <div class="mobile-nav-right">
              <div class="mobile-nav-actions">
                <div class="search">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="mobile-nav-basket">
                  <a
                    href="#"
                    class="basket-btn basket-icon d-flex justify-content-center align-items-center gap-1"
                  >
                    <i class="fa-solid fa-basket-shopping"></i>
                    <span class="count-basket">0</span>
                  </a>
                  <div class="basket-container"></div>
                </div>
                <div class="menu-btn">
                  <div class="menu-btn__burger"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav id="mobile-nav" class="mobile-navbar">
          <ul class="mobile-navbar-items">
            <li class="mobile-navbar-item text-uppercase">
              <a href="#" class="mobile-navbar-link">
                Home
                <span class="right-chevron">
                  <i class="fa-solid fa-chevron-right"></i>
                </span>
              </a>
            </li>
            <li class="mobile-navbar-item text-uppercase">
              <a href="#" class="mobile-navbar-link">
                Shop
                <span class="right-chevron">
                  <i class="fa-solid fa-chevron-right"></i>
                </span>
              </a>
              <ul class="mobile-subMenu-items">
                <li class="mobile-subMenu-item text-uppercase">
                  <a href="#" id="sup" class="mobile-subMenu-link">
                    Product Types
                  </a>
                </li>
                <li class="mobile-subMenu-item text-uppercase">
                  <a href="#" class="mobile-subMenu-link">Contact Us</a>
                </li>
                <li class="mobile-subMenu-item text-uppercase">
                  <a href="#" class="mobile-subMenu-link">Terms & Conditions</a>
                </li>
              </ul>
            </li>
            <li class="mobile-navbar-item text-uppercase">
              <a href="#" class="mobile-navbar-link">
                Our Team
                <span class="right-chevron">
                  <i class="fa-solid fa-chevron-right"></i>
                </span>
              </a>
              <ul class="mobile-subMenu-items">
                <li class="mobile-subMenu-item">
                  <a href="#" class="mobile-subMenu-link">Contact Us</a>
                </li>
                <li class="mobile-subMenu-item text-uppercase">
                  <a href="#" class="mobile-subMenu-link">Our Brands</a>
                </li>
                <li class="mobile-subMenu-item text-uppercase">
                  <a href="#" class="mobile-subMenu-link">Terms & Conditions</a>
                </li>
              </ul>
            </li>
            <li class="mobile-navbar-item text-uppercase">
              <a href="#" class="mobile-navbar-link">
                Blog
                <span class="right-chevron">
                  <i class="fa-solid fa-chevron-right"></i>
                </span>
              </a>
            </li>
            <li class="mobile-navbar-item text-uppercase">
              <a href="#" class="mobile-navbar-link">
                Faq
                <span class="right-chevron">
                  <i class="fa-solid fa-chevron-right"></i>
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Mobile Nav End-->

      <!-- Basket Sidebar -->
      <div class="basket-sidebar">
        <div class="basket-sidebar-content">
          <div class="basket-sidebar-header">
            <h4>Shopping Cart</h4>
            <a href="#" class="button-close mb-2">
              <i class="fa-solid fa-x"></i>
            </a>
          </div>
          <div class="basket-products">
            <div class="basket-product">
              <a class="basket-img" href="#">
                <img
                  src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-1-600x750.jpg"
                  alt="Product"
                />
              </a>
              <div class="basket-product-content">
                <a href="#" class="product-category">Fitness</a>
                <a href="#" class="product-item">WHITE SHIRT</a>
                <span class="product-cost">$45</span>
              </div>
              <a href="#" class="remove-basket">
                <i class="fa-solid fa-x"></i>
              </a>
            </div>
            <div class="basket-product">
              <a class="basket-img" href="#">
                <img
                  src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-1-600x750.jpg"
                  alt="Product"
                />
              </a>
              <div class="basket-product-content">
                <a href="#" class="product-category">Fitness</a>
                <a href="#" class="product-item">WHITE SHIRT</a>
                <span class="product-cost">$45</span>
              </div>
              <a href="#" class="remove-basket">
                <i class="fa-solid fa-x"></i>
              </a>
            </div>
            <div class="basket-product">
              <a class="basket-img" href="#">
                <img
                  src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-1-600x750.jpg"
                  alt="Product"
                />
              </a>
              <div class="basket-product-content">
                <a href="#" class="product-category">Fitness</a>
                <a href="#" class="product-item">WHITE SHIRT</a>
                <span class="product-cost">$45</span>
              </div>
              <a href="#" class="remove-basket">
                <i class="fa-solid fa-x"></i>
              </a>
            </div>
            <div class="basket-product">
              <a class="basket-img" href="#">
                <img
                  src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-1-600x750.jpg"
                  alt="Product"
                />
              </a>
              <div class="basket-product-content">
                <a href="#" class="product-category">Fitness</a>
                <a href="#" class="product-item">WHITE SHIRT</a>
                <span class="product-cost">$45</span>
              </div>
              <a href="#" class="remove-basket">
                <i class="fa-solid fa-x"></i>
              </a>
            </div>
            <div class="basket-product">
              <a class="basket-img" href="#">
                <img
                  src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-1-600x750.jpg"
                  alt="Product"
                />
              </a>
              <div class="basket-product-content">
                <a href="#" class="product-category">Fitness</a>
                <a href="#" class="product-item">WHITE SHIRT</a>
                <span class="product-cost">$45</span>
              </div>
              <a href="#" class="remove-basket">
                <i class="fa-solid fa-x"></i>
              </a>
            </div>
            <div class="basket-product">
              <a class="basket-img" href="#">
                <img
                  src="https://dunker.qodeinteractive.com/wp-content/uploads/2022/12/shop-list-filter-1-600x750.jpg"
                  alt="Product"
                />
              </a>
              <div class="basket-product-content">
                <a href="#" class="product-category">Fitness</a>
                <a href="#" class="product-item">WHITE SHIRT</a>
                <span class="product-cost">$45</span>
              </div>
              <a href="#" class="remove-basket">
                <i class="fa-solid fa-x"></i>
              </a>
            </div>
          </div>
          <div class="basket-total">
            <span>Subtotal:</span>
            <span class="amount">0</span>
          </div>
          <div class="basket-buttons">
            <a href="#" class="custom-button">View Cart & Checkout</a>
          </div>
        </div>
      </div>

      <!-- Hero Slider -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slider-title">
              <h1 class="slider-heading">LIMITED EDITION SPORTSWEAR</h1>
              <p class="pb-4">
                Search the Dunker and find the ideal pieces for you
              </p>
              <a href="#" class="custom-button">SHOP NOW</a>
            </div>
            <div class="overlay"></div>
            <img
              src="https://dunker.qodeinteractive.com/wp-content/uploads/2023/01/h1-rev-img-1.jpg"
            />
          </div>
          <div class="swiper-slide">
            <div class="slider-title">
              <h1 class="slider-heading">LIMITED EDITION SPORTSWEAR</h1>
              <p class="pb-4">
                Search the Dunker and find the ideal pieces for you
              </p>
              <a href="#" class="custom-button">SHOP NOW</a>
            </div>
            <div class="overlay"></div>
            <img
              src="https://dunker.qodeinteractive.com/wp-content/uploads/2023/01/h1-rev-img-2.jpg"
            />
          </div>
          <div class="swiper-slide">
            <div class="slider-title">
              <h1 class="slider-heading">uv protective clothes</h1>
              <p class="pb-4">
                Search the Dunker and find the ideal pieces for you
              </p>
              <a href="#" class="custom-button">SHOP NOW</a>
            </div>
            <div class="overlay"></div>
            <img
              src="https://dunker.qodeinteractive.com/wp-content/uploads/2023/01/h1-rev-img-3.jpg"
            />
          </div>
        </div>
        <button class="border-0"><div class="swiper-button-next"></div></button>
        <button class="border-0"><div class="swiper-button-prev"></div></button>
        <div class="autoplay-progress d-lg-flex d-none">
          <svg viewBox="0 0 48 48">
            <circle cx="24" cy="24" r="20"></circle>
          </svg>
          <span></span>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    </header>
    <!-- Header Section End -->

    @RenderBody()

    @await Component.InvokeAsync("Footer")


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- SwiperJS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Split Type  -->
    <script src="
    https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js
    "></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- GSAP JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- axios cdn  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js"></script>
     
    <!-- generate card js  -->
    <script src="~/assets/js/script.js"></script>
  </body>
</html>
