@model BasketProduct
@{
    Layout = null;
}
<div class="basket-product">
    <a class="basket-img" href="#">
        <img src="~/assets/img/@Model.Product.ProductImages.FirstOrDefault(m=>m.IsMain).Image"
             alt="Product" />
    </a>
    <div class="basket-product-content">
        <a href="#" class="product-category">@Model.Product.Category.Name</a>
        <a href="#" class="product-item">@Model.Product.Name</a>
        <span class="product-cost">$@Model.Product.Price</span>
    </div> 
</div>