@using DunkerFinal.ViewModels.Teams 

@model TeamCreateVM


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Team</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                 <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                    <span  class="text-danger mt-2" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position">Position</label>
                    <input asp-for="Position" type="text" class="form-control" placeholder="Position">
                    <span  class="text-danger mt-2" asp-validation-for="Position"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image">Image</label>
                    <input asp-for="Image" class="form-control">
                    <span  class="text-danger mt-2" asp-validation-for="Image"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <a class="btn btn-light" asp-area="Admin" asp-controller="Team" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>