@using DunkerFinal.ViewModels.Teams
  
@model TeamDetailVM
  

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
    <h3><img style="width:200px;height:auto"  src="~/assets/img/@Model.Image" /></h3>
    <h3> Name: @Model.Name </h3>
    <h3> Position: @Model.Position </h3>
    
    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="Team" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Team" asp-route-id="@Model.Id" asp-action="Update">Update</a>
        <a class="btn btn-danger" asp-area="Admin" asp-controller="Team" asp-route-id="@Model.Id" asp-action="Delete">Delete</a>
    </div>
</div>
</div>