@using Service.ViewModels.Category
@model CategoryUpdateVM
  
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
    <p><b>Name</b>: @Model.Name</p>

    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-route-id="@Model.Id" asp-action="Update">Update</a>
       </div>
</div>
</div>