@using Service.ViewModels.Category
@model CategoryUpdateVM
 
<div class="container mt-5 mx-3">

    <p><b>Name</b>: @Model.Name</p>

    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-route-id="@Model.Id" asp-action="Update">Update</a>
        <a class="btn btn-danger" asp-area="Admin" asp-controller="Category" asp-route-id="@Model.Id" asp-action="Delete">Delete</a>
    </div>
</div>