@using Service.ViewModels.Wishlist
@model List<WishlistListVM>

<!-- Main Start -->
<main id="main">
    <!-- Breadcrumb Navigation Start -->
    <nav id="breadcrumb">
        <span><a href="./index.html">HOME</a></span>
        <span class="line">|</span>
        <span><a href="#" class="text-dark">WISHLIST</a></span>
    </nav>
    <!-- Breadcrumb Navigation End -->
    <!-- Wishlist Section Start -->
    <section id="wishlist">
        <div class="product-wishlist">
            <h2>Product Wishlist</h2>
        </div>

        <div class="wishlist-items" id="wishlist-container">



            @if (Model.Count != 0)
            {
                @foreach (var item in Model)
                {
                    <div class="wishlist-item">
                        <div class="left-side-wishlist">
                            <button href="#">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <div class="wishlist-img">
                                <img src="~/assets/img/@item.Image"
                             alt="Product" />
                            </div>
                            <div class="wishlist-info">
                                <a href="#">@item.Name</a>
                                <a href="#"><span>@item.Name</span></a>
                            </div>
                        </div>
                        <div class="right-side-wishlist">
                            <div class="product-price">
                                <span>$@item.Price</span>
                            </div>
                            <div class="product-stock-status">
                                <span>In Stock</span>
                            </div>
                            <a href="#" class="custom-button">
                                ADD TO CART
                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="wishlist-title text-center py-4 border border-top-1 border-bottom-1">
                    <p class="m-0 fw-bold">NO PRODUCTS ADDED TO THE WISHLIST</p>
                </div>
            }

        </div>
    </section>
    <!-- Wishlist Section End -->
</main>
<!-- Main End -->
