@using Service.ViewModels.Setting
@model SettingVM

<div class="container mt-5">
    <h3 class="text-center text-dark">Update Setting</h3>

     <form class="forms-sample" method="post" enctype="multipart/form-data">
                
         
                <div class="form-group">
                    <label asp-for="Key">Key</label>
                    <input asp-for="Key" class="form-control" placeholder="Key">
                    <span class="text-danger" asp-validation-for="Key"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value">Value</label>
                    <input asp-for="Value" class="form-control" placeholder="Value">
                    <span class="text-danger" asp-validation-for="Value"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" asp-controller="Setting" class="btn btn-light">Cancel</a>
            </form>
</div>