@using Service.ViewModels.Setting
@model SettingUpdateVM
 
<div class="container mt-5 mx-3">

    <p><b>Key</b>: @Model.Key</p>
    <p><b>Value</b>: @Model.Value</p>

    <div class=mt-4>

        <a class="btn btn-primary" asp-area="Admin" asp-controller="Setting" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Setting" asp-route-id="@Model.Id" asp-action="Update">Update</a>
        <a class="btn btn-danger" asp-area="Admin" asp-controller="Setting" asp-route-id="@Model.Id" asp-action="Delete">Delete</a>
    </div>
</div>