@using Service.ViewModels.Setting
@model SettingVM

<div class="table-responsive container mx-5">
    <div class="col-md-9 col-sm-9 center-margin mt-3" >
        <table class="table table-striped jambo_table bulk_action">

            <thead style="background-color:#121212;">
                <tr class="headings">
                    <th class="column-title">Key </th>
                    <th class="column-title">Value </th>
                </tr>
            </thead>

            <tbody>
                    <tr class="even pointer">
                        <td class=" ">@Model.Key</td>
                    <td class=" ">@Model.Value</td>

                    </tr>
            </tbody>
        </table>
        <div class="item form-group">
            <div class="">
                <a asp-action="Index" asp-area="Admin" asp-controller="Setting">
                    <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl" style="color:#121212;"></i>

                </a>
             

            </div>
        </div>

    </div>
</div>
<script src="https://kit.fontawesome.com/680cf1a7ac.js" crossorigin="anonymous"></script>
