@using Service.ViewModels.Color
@model ColorUpdateVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Color</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                
         
                  <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a asp-action="Index" asp-controller="Color" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
